{% extends 'luminaire/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<p>
    <b>О Комапнии</b>
</p>
Мы команда специалстов в области поставок светотехнического, электротехнического оборудования и кабельно-проводниковой продукции. Наш коллектив обладает 17-летним опытом проведения электромонтажных работ, поэтому мы гарантируем поставку нашим покупателям именно того оборудования, которое им необходимо.
<p>
    <b>Что мы можем предложить?</b>
</p>

Большой ассортимент электротехнической продукции,
консультирование в онлайн режиме по вопросам выбора нужной продукции,
выполнение электромонтажных работ профессионалами,
консультации по вопросам самостоятельного выполнения электромонтажных работ,
разработка проектной документации систем внутреннего и наружного электроснабжения.

{% endblock %}
